#version=RHEL8
ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Use no graphical install
text
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=de --xlayouts='de','us'
# System language
lang en_US.UTF-8

firstboot --disable
eula --agreed

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=on --ipv6=auto --no-activate
network  --hostname=localhost.localdomain
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Root password
rootpw password123
# X Window System configuration information
xconfig  --startxonboot
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Berlin --isUtc --nontp
user --groups=wheel --name=someuser --password password123

%packages
@^graphical-server-environment
kexec-tools

%end



%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

reboot